<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/static/styles.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">Groupie Tracker</a>
        </nav>
        <h1>{{ .Title }}</h1>
        <div class="container">
            {{.Content}}
        </div>
        <footer>© 2026 <a href="https://github.com/Lord-lami" target="_blank">Olamide Ifarajimi</a></footer>
    </body>
</html>